<div class="col-12 col-md-6 mb-4">
  {% assign project_heading = project.title %}
  {% assign project_label = project.label | default: '' %}
  {% assign project_github_url = project.github | default: '' %}
  {% assign project_url = project.redirect | default: project.url | relative_url %}
  {% if project_github_url == '' and project.redirect and project.redirect contains 'github.com' %}
    {% assign project_github_url = project.redirect %}
  {% endif %}

  <div class="card h-100 hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <div class="project-title-row">
          <h4 class="card-title">
            <a class="project-title-link" href="{{ project_url }}" aria-label="Open project {{ project_heading }}">{{ project_heading }}</a>
          </h4>
          {% if project_github_url != '' %}
            <span class="github-icon" data-toggle="tooltip" title="Code Repository">
              <a href="{{ project_github_url }}" aria-label="GitHub repository">
                  <i class="fa-brands fa-github gh-icon"></i>
              </a>
            </span>
          {% endif %}
        </div>
        {% if project_label != '' %}
          <div class="project-label">{{ project_label }}</div>
        {% endif %}
        <p class="card-text">{{ project.description }}</p>
      </div>
    </div>
</div>
