<div class="col mb-4">
  {% assign project_github_url = project.github | default: '' %}
  {% if project_github_url == '' and project.redirect and project.redirect contains 'github.com' %}
    {% assign project_github_url = project.redirect %}
  {% endif %}

  <div class="card h-100 hoverable position-relative">
      <div class="row no-gutters">
        {% if project.img %}
          <div class="col-md-6">
            {% include figure.liquid loading="eager" path=project.img sizes="(min-width: 768px) 156px, 50vw" alt="project thumbnail" class="card-img" %}
          </div>
        {% endif %}
        <div class="{% if project.img %}col-md-6{% else %}col-md-12{% endif %}">
          <div class="card-body">
            <div class="project-title-row">
              <h3 class="card-title">{{ project.title }}</h3>
              {% if project_github_url != '' %}
                <span class="github-icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ project_github_url }}" aria-label="GitHub repository">
                      <i class="fa-brands fa-github gh-icon" style="color: var(--global-text-color); line-height: 1"></i>
                  </a>
                </span>
              {% endif %}
            </div>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
      </div>
      <a class="stretched-link" href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}" aria-label="Open project {{ project.title }}"></a>
    </div>
</div>
